.github
.vscode
node_modules

/examples
/bootstrap/examples
/murach_html_4e
/murach_js_3e
/murach_js_4e

bootstrap.js
bootstrap.bundle.js
jquery.js
jquery-3.5.1.js
jquery-3.6.0.js
jquery-ui.js
jquery.bxslider.js
jquery.slicknav.js

*.min.js
*.map
