
#Ignore OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.jpg~
.png~
.gif~

#Ignore temporary Office files
~$*

#Ignore build files created by Visual Studio
.vs/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*_i.h
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.tmp
*.tmp_proj

# npm
node_modules/
.env
