.github
.vscode
node_modules

/examples
/bootstrap/examples
/murach_html_4e
/murach_js_3e
/murach_js_4e

bootstrap.js
bootstrap.bundle.js
bootstrap.css
bootstrap-reboot.css
bootstrap-grid.css

jquery.js
jquery-3.5.1.js
jquery-3.6.0.js
jquery-ui.js
jquery-ui.css
jquery.bxslider.js
jquery.bxslider.css
jquery.slicknav.js
jquery.slicknav.css

normalize.css
slicknav.css

*.min.js
*.min.css
*.map
